<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>User profile</title>
</head>
<body>
<label>Вы успешно авторизовались</label><br><br><br><br>
<label>Логин: </label><span th:text="${user.login}">unknown</span><br>
<label>Пароль BCrypt: </label><span th:text="${user.pass}">unknown</span><br>
<label>Роли: </label>

<th:block th:each="role : ${user.roles}">
    <span th:text="${role.role}">unknown</span><br>
</th:block>



<br>
<br>
<br>
<div th:text="${session.id}">[...]</div>

<form method="POST" action="/logout">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <button type="submit">выйти</button>
</form>


</body>
</html>
